@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@import 'preline/variants.css';
@source "../../node_modules/preline/dist/*.js";

/*!
 * Breakpoints (Mobile-First)
 *
 * Base: 1rem = 16px
 *
 * M = Mobile
 * T = Tablet
 * D = Desktop
 *
 * 2xs  → @media (max-width: 23.4375rem)  // 375px  — Small mobile (iPhone SE, mini)
 * xs   → @media (max-width: 30rem)       // 480px  — Standard mobile
 * sm   → @media (max-width: 40rem)       // 640px  — Large mobile / small tablet
 * md   → @media (max-width: 48rem)       // 768px  — Tablet portrait
 * lg   → @media (max-width: 64rem)       // 1024px — Tablet landscape / small laptop
 * xl   → @media (max-width: 80rem)       // 1280px — Desktop
 * 2xl  → @media (max-width: 96rem)       // 1536px — Large desktop
 */

:root {
  --primary-color: #1f2937;
  --secondary-color: #2a307f;
  --tertiary-color: #1c274c;
  --quaternary-color: #363755;

  --white-color: #ffffff;
  --gray-color: #f1f1f1;
  --creamson-color: #fff0de;
  --dim-color: #f9f9f9;
  --dim-red-color: #8b0000;
  --dim-white-color: #ffffffb3;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-montserrat);

  --breakpoint-2xs: 23.4375rem;
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
}

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  /* Remove default focus styles (EXCEPT .btn) */
  input,
  textarea,
  select,
  button:not([nvll-ui='button']) {
    outline: none !important;
    box-shadow: none !important;
  }

  input:focus,
  textarea:focus,
  select:focus,
  button:not([nvll-ui='button']):focus {
    outline: none !important;
    box-shadow: none !important;
    ring: none !important;
  }

  input:active,
  textarea:active,
  select:active,
  button:not([nvll-ui='button']):active {
    outline: none !important;
    box-shadow: none !important;
  }

  /* Remove blue highlight on mobile */
  input,
  textarea,
  select,
  button {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Allow text selection in inputs */
  input,
  textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  color: var(--dim-white-color);
  background: var(--primary-color);
}

::selection {
  color: var(--dim-white-color);
  background: var(--primary-color);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

@import '../styles/general.css';
@import '../styles/animate.css';
