/*
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/*
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/*
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

/*
  * Use this directive to control where Tailwind injects the hover, focus,
  * responsive, dark mode, and other variants of each class.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
@tailwind variants;

/**?
  *? ----- LIST OF CONTENTS -----
  *! GLOBAL SECTION -----
  *! COPYRIGHT SECTION -----
  *! HOME SECTION -----
  */

/**!
  *! GLOBAL SECTION -----
  /** * Breakpoints
    *   => @media (max-width: 375px) { ... }  2xs - M
    *   => @media (max-width: 480px) { ... }   xs - M
    *   => @media (max-width: 640px) { ... }   sm - M
    *   => @media (max-width: 768px) { ... }   md - T
    *   => @media (max-width: 1024px) { ... }  lg - T
    *   => @media (max-width: 1280px) { ... }  xl - D
    *   => @media (max-width: 1536px) { ... } 2xl - D
    */
@media print {
  .no-print {
    display: none !important;
  }
}
/* CSS variables for reusablity across all files (including above imported) */
:root {
  --primary-color: #1f2937;
  --secondary-color: #2a307f;
  --tertiary-color: #1c274c;
  --quaternary-color: #363755;
  --white-color: #ffffff;
  --gray-color: #f1f1f1;
  --creamson-color: #fff0de;
  --dim-color: #f9f9f9;
  --dim-red-color: #8b0000;
  --dim-white-color: #ffffffb3;
  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-selection {
  color: var(--dim-white-color);
  background: var(--primary-color);
}
::selection {
  color: var(--dim-white-color);
  background: var(--primary-color);
}
input::placeholder {
  color: #ced0d5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
html {
  -ms-user-select: none;
  -moz-user-select: none;
  -ms-overflow-style: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  user-select: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*:focus {
  outline: none !important;
}
body {
  margin: 0 auto;
}
@layer base {
  p {
    @apply text-sm
    text-justify
    leading-relaxed;
  }
  h1 {
    @apply text-4xl
    md:text-5xl
    font-bold
    tracking-tight;
  }
  h2 {
    @apply text-3xl
    md:text-4xl
    font-semibold
    tracking-tight;
  }
  h3 {
    @apply text-2xl
    md:text-3xl
    font-semibold
    tracking-tight;
  }
  h4 {
    @apply text-xl
    md:text-2xl
    font-semibold;
  }
  h5 {
    @apply text-lg
    md:text-xl
    font-medium;
  }
  h6 {
    @apply text-base
    md:text-lg
    font-medium;
  }
}
.anchor-text {
  @apply text-gray-600
  underline
  hover:no-underline;
}
.primary-button {
  @apply inline-flex
  items-center
  rounded-md
  border
  border-transparent
  bg-gray-800
  px-4
  py-2
  text-xs
  font-semibold
  uppercase
  tracking-widest
  text-white
  transition
  duration-150
  ease-in-out
  hover:bg-gray-700
  focus:bg-gray-700
  focus:outline-none
  focus:ring-2
  focus:ring-gray-500
  focus:ring-offset-2
  active:bg-gray-900;
}
/**!
  *! END GLOBAL SECTION -----
  */
/**!
  *! COPYRIGHT SECTION -----
  */
nav.copyright {
  @apply mx-auto
  w-full
  px-1.5
  max-w-[500px];
}
nav.copyright .wrapper {
  @apply flex
  flex-wrap
  items-start
  justify-between
  gap-2;
}
nav.copyright .wrapper p {
  @apply z-20
  text-xs
  text-gray-600;
}
nav.copyright .wrapper ul {
  @apply z-20
  flex
  flex-wrap
  items-center;
}
nav.copyright .wrapper ul li {
  @apply relative
  inline-block
  pe-2
  text-xs;
}
nav.copyright .wrapper ul li a {
  @apply anchor-text
  text-xs;
}
/**!
  *! END COPYRIGHT SECTION -----
  */
/**!
  *! HOME SECTION -----
  */
main.home-layout .overlay {
  @apply fixed
  bg-[url('../webp/background-min.webp')]
  bg-no-repeat
  bg-cover
  z-10
  w-full
  max-w-lg
  -translate-x-[20%]
  -translate-y-[30%]
  md:max-w-[877px]
  md:translate-y-0
  transition-transform
  duration-300
  inset-0;
}
main.home-layout section.home {
  @apply relative
  flex
  min-h-screen
  items-center
  justify-center
  bg-gray-100
  flex-col
  md:flex-row
  md:gap-4;
}
main.home-layout section.home .container {
  @apply z-20
  relative
  w-full
  flex
  items-center
  justify-center
  overflow-hidden
  bg-white
  p-4
  mb-4
  mx-auto
  shadow-md
  sm:max-w-md
  sm:rounded-lg
  transition-all
  duration-300;
}
main.home-layout section.home .letter {
  @apply w-full;
}
main.home-layout section.home .letter header {
  @apply flex
  items-center
  justify-between
  w-full
  mb-4;
}
main.home-layout section.home .letter header .link {
  @apply flex-1
  text-sm;
}
main.home-layout section.home .letter header p {
  @apply text-end
  text-sm;
}
main.home-layout section.home .letter blockquote {
  @apply relative
  pt-8
  px-2;
}
main.home-layout section.home .letter blockquote img.quote {
  @apply absolute
  start-0
  -top-[27px]
  size-16
  opacity-80;
}
main.home-layout section.home .letter blockquote .content {
  @apply relative
  space-y-4;
}
main.home-layout section.home .letter blockquote .content span.signature {
  @apply text-gray-400
  text-justify
  text-sm;
}
main.home-layout section.home .letter blockquote footer {
  @apply flex
  items-center
  justify-between
  relative
  px-2;
}
main.home-layout section.home .letter blockquote footer .left,
main.home-layout section.home .letter blockquote footer .right {
  @apply flex
  items-center
  justify-center
  gap-[1px];
}
main.home-layout section.home .letter blockquote footer .left img.avatar {
  @apply shrink-0
  size-16
  mt-1.5
  -ml-1.5
  rounded-md
  object-cover;
}
main.home-layout section.home .letter blockquote footer .left .bio {
  @apply space-y-0.5;
}
main.home-layout section.home .letter blockquote footer .left .bio .name {
  @apply flex
  items-center
  justify-center;
}
main.home-layout section.home .letter blockquote footer .left .bio .name .availability-indicator {
  @apply m-2;
}
main.home-layout section.home .letter blockquote footer .left .bio p.description {
  @apply text-sm
  text-gray-500;
}
main.home-layout section.home .letter blockquote footer .right img.logo {
  @apply absolute
  bottom-0.5
  right-0.5
  w-[58px]
  h-[70px]
  object-contain;
}
main.home-layout section.home .privacy {
  @apply w-full
  max-w-md
  mx-auto;
}
main.home-layout section.home .privacy header {
  @apply space-y-2
  mb-4;
}
main.home-layout section.home .contact-information {
  @apply w-full
  max-w-md
  mx-auto;
}
main.home-layout section.home .contact-information header {
  @apply space-y-2;
}
main.home-layout section.home .contact-information .content ul {
  @apply py-4;
}
main.home-layout section.home .contact-information .content ul li {
  @apply flex
  items-center
  gap-1
  py-1.5
  text-sm
  transition-colors
  duration-200
  rounded-md
  px-2;
}
main.home-layout section.home .contact-information .content ul li .img-wrapper {
  @apply w-6
  h-6
  flex
  items-center
  justify-center
  shrink-0;
}
main.home-layout section.home .contact-information .content ul li .img-wrapper img {
  @apply w-5
  h-5
  object-contain;
}
main.home-layout section.home .contact-information .content ul li .img-wrapper img.bluesky {
  @apply w-4
  h-4;
}
main.home-layout section.home .contact-information .content ul li .img-wrapper img.linkedin {
  @apply w-3.5
  h-3.5;
}
main.home-layout section.home .contact-information .content ul li .img-wrapper img.github {
  @apply w-4
  h-4;
}
/**!
  *! END HOME SECTION -----
  */
