/*
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/*
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/*
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

/*
  * Use this directive to control where Tailwind injects the hover, focus,
  * responsive, dark mode, and other variants of each class.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
@tailwind variants;

/**?
  *? ----- LIST OF CONTENTS -----
  *! GLOBAL SECTION -----
  *! LAYOUT SECTION -----
  *! NAVIGATION SECTION -----
  *! HOME SECTION -----
  */

/**!
  *! GLOBAL SECTION -----
  /** * Breakpoints
    *   => @media (max-width: 375px) { ... }  2xs - M
    *   => @media (max-width: 480px) { ... }   xs - M
    *   => @media (max-width: 640px) { ... }   sm - M
    *   => @media (max-width: 768px) { ... }   md - T
    *   => @media (max-width: 1024px) { ... }  lg - T
    *   => @media (max-width: 1280px) { ... }  xl - D
    *   => @media (max-width: 1536px) { ... } 2xl - D
    */
@media print {
  .no-print {
    display: none !important;
  }
}

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --primary-color: #1f2937;
  --secondary-color: #2a307f;
  --tertiary-color: #1c274c;
  --quaternary-color: #363755;
  --white-color: #ffffff;
  --gray-color: #f1f1f1;
  --creamson-color: #fff0de;
  --dim-color: #f9f9f9;
  --dim-red-color: #8b0000;
  --dim-white-color: #ffffffb3;
  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-selection {
  color: var(--dim-white-color);
  background: var(--primary-color);
}
::selection {
  color: var(--dim-white-color);
  background: var(--primary-color);
}
input::placeholder {
  color: #ced0d5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
html {
  -ms-user-select: none;
  -moz-user-select: none;
  -ms-overflow-style: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  user-select: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*:focus {
  outline: none !important;
}
body {
  margin: 0 auto;
}
.anchor-text {
  @apply text-gray-600
  underline
  hover:no-underline;
}
.primary-button {
  @apply inline-flex
  items-center
  rounded-md
  border
  border-transparent
  bg-gray-800
  px-4
  py-2
  text-xs
  font-semibold
  uppercase
  tracking-widest
  text-white
  transition
  duration-150
  ease-in-out
  hover:bg-gray-700
  focus:bg-gray-700
  focus:outline-none
  focus:ring-2
  focus:ring-gray-500
  focus:ring-offset-2
  active:bg-gray-900;
}
/**!
  *! END GLOBAL SECTION -----
  */
/**!
  *! LAYOUT SECTION -----
  */
section.main-layout {
  @apply relative
    flex
    min-h-screen
    items-center
    bg-gray-100
    pt-0
    sm:justify-center
    flex-col
    md:flex-row
    md:gap-4;
}
section.main-layout img.background {
  @apply fixed
  -top-0
  left-0
  z-0
  max-w-lg
  translate-x-[-20%]
  translate-y-[-30%]
  transform
  md:max-w-[877px]
  md:translate-y-0;
}
section.main-layout .children-wrapper {
  @apply relative
  z-10
  w-full
  flex
  items-center
  justify-center
  overflow-hidden
  bg-white
  px-6
  py-4
  shadow-md
  sm:max-w-md
  sm:rounded-lg;
}
/**!
  *! END LAYOUT SECTION -----
  */
/**!
  *! NAVIGATION SECTION -----
  */
nav.navigation {
  @apply z-10
  mx-auto
  w-full
  py-5
  max-w-[500px]
  mt-[1px]
  px-4
  sm:px-6
  lg:px-8;
}
nav.navigation .wrapper {
  @apply flex
  flex-wrap
  items-center
  justify-between
  gap-2;
}
nav.navigation .wrapper .copyright {
  @apply text-xs
  text-gray-600;
}
nav.navigation .wrapper ul {
  @apply flex
  flex-wrap
  items-center;
}
nav.navigation .wrapper ul li {
  @apply relative
  inline-block
  pe-2
  text-xs;
}
nav.navigation .wrapper ul li a {
  @apply anchor-text
  text-xs;
}
/**!
  *! END NAVIGATION SECTION -----
  */
/**!
  *! HOME SECTION -----
  */
section.home header {
  @apply flex;
}
section.home header .link {
  @apply flex-1;
}
section.home header .link a {
  @apply anchor-text
  text-sm;
}
section.home header p {
  @apply text-end
  text-sm;
}
section.home blockquote {
  @apply relative;
}
section.home blockquote img.quote {
  @apply absolute
  -start-2
  -top-7
  size-16;
}
section.home blockquote .content {
  @apply relative
  z-10;
}
section.home blockquote .content p.paragraph {
  @apply text-justify
  text-sm;
}
section.home blockquote .content p.signature {
  @apply text-gray-400
  text-justify
  text-sm;
}
section.home blockquote footer {
  @apply mt-4
  flex
  items-center
  justify-between;
}
section.home blockquote footer .left,
section.home blockquote footer .right {
  @apply flex
  items-center;
}
section.home blockquote footer .left img.avatar {
  @apply shrink-0
  size-10
  rounded-full;
}
section.home blockquote footer .left .bio {
  @apply ms-2;
}
section.home blockquote footer .left .bio p.name {
  @apply text-base
  font-semibold
  text-gray-800;
}
section.home blockquote footer .left .bio p.description {
  @apply text-xs
  text-gray-500;
}
section.home blockquote footer .left .bio p.description a {
  @apply anchor-text;
}
section.home blockquote footer .right img.logo {
  @apply absolute
  bottom-2.5
  right-2.5
  w-[68px]
  h-[80px];
}
/**!
  *! END HOME SECTION -----
  */
