@tailwind utilities;

.home-page {
  @apply min-h-screen
  w-full
  flex
  items-center
  justify-center
  p-4
  bg-gray-50
  dark:bg-neutral-950;
}

.home-page .home-card {
  @apply bg-white
  dark:bg-neutral-900
  border
  border-gray-200
  dark:border-neutral-800
  rounded-lg
  shadow-lg
  dark:shadow-black/40
  p-4;
}

.home-page .home-card .home-row {
  @apply flex;
}

.home-page .home-card .home-row .home-icon {
  @apply shrink-0
  mt-1;
}

.home-page .home-card .home-row .home-content {
  @apply ms-3;
}

.home-page .home-card .home-row .home-content .home-title {
  @apply text-gray-800
  dark:text-neutral-100
  font-semibold;
}

.home-page .home-card .home-row .home-content .home-subtitle {
  @apply mt-2
  text-sm
  text-gray-700
  dark:text-neutral-400;
}
